# PYTHON FUNDAMENTALS, Part 3

[CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)

## Credits

Most code snippets and explanatory texts from:
- Charles Russel Severance's [Python for Everybody](https://www.py4e.com/) lecture slides
  -  Unless annotated as indicated below, text and code came from this source. Additionally, they could be explicitly indicated by the marker `[PES]`

and
- Charles Russel Severance's [Python for Everybody - Online HTML Book](https://www.py4e.com/html3/)
  - Notes and codes from this source are indicated by this the marker `[PEW]`

Additional codes and comments from:
- J.R. Johansson's [Introduction to Scientific Computing with Python](http://github.com/jrjohansson/scientific-python-lectures)
  - Notes and codes from this source are indicated by this the marker `[JRJ]`

# Before you begin

First, make a copy of this notebook so that you can make changes as you please. Run and edit the copy instead of this original notebook. To copy this notebook, go to `File|Make a Copy`.

If this notebook is already a copy of the original, clear all outputs in this notebook. Go to the Menu and click on `Cell| All Outputs| Clear`. Once this is done, you're ready to go.

# Suggestions for Learning

- Code snippets in Raw Cells are meant to be written by Beginners.
- Code snippets in Code Cells are for illustration purposes. They are meant to be executed by both Beginners and more experienced Learners. (Beginners, may wish to also type them, if they so choose).

For better learning experience, the following are suggested:

### For Beginners
1. Create a new Code Cell below the code snippets inside Raw Cells (Insert Cell below then convert the cell type to Code Cell).
2. Go to your newly-created Code Cell and re-type what you see in the code snippet (don't copy-paste)
3. Execute (and experiment) on the Code Cell.
4. Remember to learn by doing (not just by reading or seeing)

### For Coders
1. If you are not yet familiar with the concept, follow Steps 1&2 of the Instructions for Beginners
2. If you are already familiar with the concept being presented, convert the Raw Cell into a Code Cell.
3. Execute (and experiment) on the Code Cell.
4. Learn the "adjacent concepts", e.g. read related documentation.
5. Help your classmates, because teaching is a wonderful way to learn.

### For All
* Make this your personal notebook.
    * Add your own text annotations in Markup Cells.
    * Add comments to parts of code that you find difficult to understand
    * Breakdown difficult code into several small pieces (maybe, several Code Cells) that are easier to understand

<a id='contents'></a>

# TABLE OF CONTENTS

[Chapter 8 Lists](#chapter8)<br>
[Chapter 9 Dictionaries](#chapter9)<br>
[Chapter 10 Tuples](#chapter10)<br>

<a id='chapter8'></a>

# CHAPTER  8 - Lists

Like a string, a list is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in a list are called `elements` or, sometimes, `items`.   

[PEW]

Lists play an important role in Python. They are often used in `for` loops
and in defining other more complex data structures (e.g. arrays, pandas Series and Dataframes).

## List Constants

- List constants are surrounded by square brackets and the elements in the list are separated by commas
- A list element can be any Python object - even another list
- A list can be empty

In [10]:
empty_list = []
int_list = [3, 7, 9, 1]
string_list = ['elven-kings', 'dwarf-lords', 'mortal men', 'Dark Lord']
mixed_list = [1, 'ring', 2.0, 'rule them all']
list_with_a_list = [3, [7, 9, 4, 6, 8], 1]
list_with_a_list2 = [3, int_list, 1]

print(empty_list)
print(int_list)
print(string_list)
print(mixed_list)
print(list_with_a_list)
print(list_with_a_list2)
#あ

[]
[3, 7, 9, 1]
['elven-kings', 'dwarf-lords', 'mortal men', 'Dark Lord']
[1, 'ring', 2.0, 'rule them all']
[3, [7, 9, 4, 6, 8], 1]
[3, [3, 7, 9, 1], 1]

## Lists and `for` Loops

Lists are often used in `for` loops.
#あ

In [2]:
friends = ['Joseph', 'Glenn', 'Sally']
for f in friends:
    print('Happy New Year:',  f)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

## Looking Inside Lists

- The syntax for accessing the elements of a list is the same as for accessing the characters of a string: the **bracket operator**.
- The expression inside the brackets specifies the **index**.
- **Remember that the indices start at 0**.

[PEW]

In [3]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

In [11]:
list_with_a_list

[3, [7, 9, 4, 6, 8], 1]

In [12]:
list_with_a_list[1][3]

6

The expression below access the 2nd element, which is itself a list.

In [15]:
list_with_a_list[1]

[7, 9, 4, 6, 8]

We can access the elements of the inner list in a similar manner. The expression below accesses the first element of the inner list.

In [13]:
list_with_a_list[1][0]

7

You can break down the code above in the following manner:

In [14]:
inner_list = list_with_a_list[1]
inner_list

[7, 9, 4, 6, 8]

In [16]:
inner_list[0]

7

## Lists are Mutable

Strings are “immutable” - we cannot change the contents of a string...

In [ ]:
fruit = 'Banana'
fruit[0] = 'b'

...we must make a new string to make any change

In [18]:
x = fruit.lower()
print(x)

banana

Lists are *mutable* - we can change an element of a list using the index operator.

In [19]:
lotto_numbers = [2, 14, 26, 41, 63]
print(lotto_numbers)

[2, 14, 26, 41, 63]

In [22]:
lotto_numbers[0] = 9
print(lotto_numbers)

#あ

[9, 14, 26, 41, 63]

## How Long is a List?

- The `len()` function takes a list as a parameter and returns the number of elements in the list
- Actually `len()` tells us the number of elements of any set or sequence (such as a string...)

In [23]:
greeting = 'Hello Bob'
print(len(greeting))

9

In [24]:
x = [ 1, 2, 'joe', 99]
print(len(x))

4

Can you guess how many elements there are in this list?

In [25]:
list_with_a_list = [3, [7, 9], 1]
len(list_with_a_list)

3

## Generating a list of integers using the `range()`

- The built-in function `range()` returns an object that produces a sequence of integers
- Parameters: `start`, `stop`, `step`.
-  the sequence of integers produced are from `start` (inclusive) to `stop` (exclusive) with intervals set by `step`.
- We can transform this object by passing it to the **`list()`** function. This list can then be used in a `for` loop.

Let's get some information on range by passing it to the `help()` function.

In [26]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

Below are the important portions of the documentation

    range(stop) -> range object
    range(start, stop [, step]) -> range object
    
    Return an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step.  
        range(i, j) produces i, i+1, i+2, ..., j-1.
    
    start defaults to 0 and stop is omitted!  
        range(4) produces 0, 1, 2, 3.
        
    When step is given, it specifies the increment (or decrement).

#### Specifying only the `stop` parameter

In [2]:
stop = 20
a = range(stop)
a

range(0, 20)

What is returned is a `range` object.
We can also pass an integer value directly to the function.

In [6]:
a = range(1, 10)
a

range(1, 10)

You can convert `range` into a `list`  using  the `list()` function

In [30]:
b = list(range(4))
b

[1, 2, 3]

Note that 4 is not included in the generated list.

#### Specifying `start` and  `stop` parameters

In [14]:
start = 2
stop = 20
c = range(start, stop, 5)
list(c)

[2, 7, 12, 17]

We can compact the above code to

In [37]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

#### Specifying `start`,  `stop` and `step` parameters

In [38]:
start = 2
stop = 20
step = 2
d = range(start, stop, step)
list(d)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [39]:
list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Using a negative `step` parameter

In [40]:
list(range(20, 2, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4]

In [41]:
list(range(2, 20, -2))

[]

### Using `range` in `for` loops

The result of the `range()` function could directly be used in a for loop without converting it to a list.

In [44]:
for i in range(1,6):
    print('The square of {} is {}'.format(i, i**2))

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

## Generating lists using the List Comprehenion

The code below generates a list of squares of the numbers from 1 to 5

In [45]:
my_list = []
for num in range(1,6):
    my_list.append(num**2)
print(my_list)

#あ

[1, 4, 9, 16, 25]

The same list could be generated usin **list comprehension**:

In [46]:
[num**3 for num in range(0,5)]

[0, 1, 8, 27, 64]

To use list comprehension:
- surround the expression with square brackets
- write the expression that should be added to the list
    - this is `num**2` in the above example
    - this should contain a variable which appears in the `for` statement below
        - this is `num` in the above example
- write `for` statement to loop to a set of values
    - this is `for num in range(0,5)` in the above example
    - the `for` statement should **not** have a colon at the end

#### List comprehension with an `if` condition.

You can put more power to list comprehensions by adding an  `if` condition after the `for` statement.

The list comprehension below returns odd numbers from 1 to 20

In [47]:
[num for num in range(1,21) if num % 2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

The expression below returns numbers from 1 to 20 that are divisible by 3

In [48]:
[num for num in range(1,21) if num % 3 == 0]

[3, 6, 9, 12, 15, 18]

## Looping through lists

### Looping through lists using `in`

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']

In [50]:
for f in friends :
    print(f)

Joseph
Glenn
Sally

### Looping with  `enumerate`

You can access both index and items in a list using `enumerate`

In [56]:
friends = ['Joseph', 'Glenn', 'Sally']
for index, friend in enumerate(friends):
    print(index,' ',friend)

0   Joseph
1   Glenn
2   Sally

## Concatenating Lists Using the `+` operator

In [57]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

## Repeating Lists Using the `*` operator

The `*` operator repeats the elements in the list:

In [15]:
quiz_grades = [2] * 4
quiz_grades

[2, 2, 2, 2]

In [59]:
[1, 2, 3] * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## Slicing Lists Using the `:` operator

Lists, like strings, could also be sliced with the colon operator.

Remember:  Just like in strings, the second number is “up to but not including”

mnemonic: Right Slice of Bread : \[  )

In [61]:
t = [9, 41, 12, 3, 74, 15]

In [62]:
t[1:3]

[41, 12]

In [63]:
t[:4]

[9, 41, 12, 3]

In [64]:
t[3:]

[3, 74, 15]

In [65]:
t[:]

[9, 41, 12, 3, 74, 15]

## List Methods

In [66]:
mylist = []
type(mylist)

list

The code below prints all available methods for the list data structure.

In [67]:
print(dir(mylist))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

We can generate a list of non special Python methods for lists using list comprehension and the string method `startswith()`.

In [68]:
[x for x in dir(mylist) if not x.startswith('__')]
#あ

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [74]:
templist = []
for x in dir(mylist):
    if not x.startswith('__'):
        templist.append(x)
templist

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Append

Adds a new **element** to the end of a list: [PEW]

In [75]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

#### Extend

`extend` takes a **list** as an argument and appends all of the elements [PEW]

In [76]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

Most list methods are **`void`**; they modify the list and return None. [PEW]

In [77]:
print(t1.extend(t2))

None

## Building a List from Scratch

- We can create an empty list and then add elements using the append method
- The list stays in order and new elements are added at the end of the list

### using `list()`

`list()` returns an empty list

In [78]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

['book', 99]
['book', 99, 'cookie']

### using `[]`

New lists could also be created by using `[]`

In [79]:
stuff2 = []             #あ
stuff2.append('book')
stuff2.append(99)
print(stuff2)
stuff2.append('cookie')
print(stuff2)

['book', 99]
['book', 99, 'cookie']

## Is Something in a List? Using `in` and `not in`

- Python provides two operators that let you check if an item is in a list
- These are logical operators that return `True` or `False`
- They do not modify the list

In [80]:
mylist = [1, 9, 21, 10, 16]

In [81]:
9 in mylist

True

In [82]:
15 in mylist

False

In [83]:
20 not in mylist

True

## Lists are in Order

- A list can hold many items and keeps those items in the order until we do something to change the order
- A list can be sorted (i.e., change its order)
- The sort method (unlike in strings) means **sort yourself**
- The sort method returns `None`

The `sort()` method in lists changes the list itself.

In [84]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print('before sorting:', friends)

print(friends.sort())

print('after sorting:', friends)

before sorting: ['Joseph', 'Glenn', 'Sally']
None
after sorting: ['Glenn', 'Joseph', 'Sally']

#### Lists methods vs. String methods

In contrast string methods don't change the string, but instead returns a new string.

In [85]:
s = 'One ring to rule them all'
print('before uppercase:', s)

print(s.upper())

print('after uppercase:', s)

#あ

before uppercase: One ring to rule them all
ONE RING TO RULE THEM ALL
after uppercase: One ring to rule them all

In [90]:
x = [1,3,4,5,7,9]
x.sort(reverse=True)
print(x)
x.sort()
print(x)

[9, 7, 5, 4, 3, 1]
[1, 3, 4, 5, 7, 9]

In [91]:
line = 'one ring to rule them all'
str_list = line.split()
str_list.sort()
str_list

['all', 'one', 'ring', 'rule', 'them', 'to']

## Built-in Functions and Lists

There are a number of functions built into Python that take lists as parameters

In [92]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

#### Reminder
As mentioned earlier, it's best that you don't use these functions as identifiers for your own functions and variables.

## Lists and strings

- A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string.
- To convert from a string to a list of characters, you can use `list()`

[PEW]

In [95]:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [96]:
t[0] = 'a'
t

['a', 'p', 'a', 'm']

The `list()` function breaks a string into individual letters. If you want to break a string into words, you can use the `split()` method [PEW]

In [97]:
s = 'The road goes ever on and on'
t = s.split()
print(t)
print(t[2:5])

#あ

['The', 'road', 'goes', 'ever', 'on', 'and', 'on']
['goes', 'ever', 'on']

## Parsing lines <a id='ParsingLines'></a>

Usually when we are reading a file we want to do something to the lines other than just printing the whole line. Often we want to find the "interesting lines" and then parse the line to find some interesting part of the line. [PEW]

What if we wanted to print out the email address of the lines that start with "From "?

    From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008

In [35]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [38]:
fhand = open('mbox.txt')
my_list = []
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From'):
        continue
    words = line.split()
    if my_list == []:
        my_list.append(words[1])
    elif words[1] not in my_list:
         my_list.append(words[1])
print(my_list)

['stephen.marquard@uct.ac.za', 'louis@media.berkeley.edu', 'zqian@umich.edu', 'rjlowe@iupui.edu', 'cwen@iupui.edu', 'gsilver@umich.edu', 'wagnermr@iupui.edu', 'antranig@caret.cam.ac.uk', 'gopal.ramasammycook@gmail.com', 'david.horwitz@uct.ac.za', 'ray@media.berkeley.edu', 'mmmay@indiana.edu', 'stuart.freeman@et.gatech.edu', 'tnguyen@iupui.edu', 'chmaurer@iupui.edu', 'aaronz@vt.edu', 'ian@caret.cam.ac.uk', 'csev@umich.edu', 'jimeng@umich.edu', 'josrodri@iupui.edu', 'knoop@umich.edu', 'bkirschn@umich.edu', 'dlhaines@umich.edu', 'hu2@iupui.edu', 'sgithens@caret.cam.ac.uk', 'arwhyte@umich.edu', 'gbhatnag@umich.edu', 'gjthomas@iupui.edu', 'a.fish@lancaster.ac.uk', 'ajpoland@iupui.edu', 'lance@indiana.edu', 'ssmail@indiana.edu', 'jlrenfro@ucdavis.edu', 'nuno@ufp.pt', 'zach.thomas@txstate.edu', 'ktsao@stanford.edu', 'ostermmg@whitman.edu', 'john.ellis@rsmart.com', 'jleasia@umich.edu', 'ggolden@umich.edu', 'thoppaymallika@fhda.edu', 'kimsooil@bu.edu', 'bahollad@indiana.edu', 'jzaremba@unicon.net', 'mbreuker@loi.nl', 'colin.clark@utoronto.ca']

## Final Words

- Lists play an important role in Python
- They are useful in
    - loops
    - defining other data structures (which could be more complex) e.g. arrays, pandas series and dataframes
- Remember that indexing for lists starts at 0 (other programming languages  starts indexing at 1, e.g. Matlab)

## EXERCISES

#### Exercise 1

Create an empty list then add the following numbers using `append`: 4, 6 9.

In [16]:
emptyList = []
emptyList.append(4)
emptyList.append(6)
emptyList.append(9)
print(emptyList)

[4, 6, 9]

#### Exercise 2

Using the `range` function, create a list containing the numbers from 0 to 10.

In [13]:
t = list(range(11))
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Exercise 3

Create a list containing the valid grade values, then using `enumerate` in a `for` loop, print out all **indices** and **items** in the list.

It should print out:

    0   1.0
    1   1.25
    2   1.5
    3   1.75
    4   2.0
    5   2.25
    6   2.5
    7   3.0

In [19]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]
for index, grade in enumerate(grades):
    print(index, grade)

0 1.0
1 1.25
2 1.5
3 1.75
4 2.0
5 2.25
6 2.5
7 3.0

#### Exercise 4

Using Index Slicing, print out the list of grades higher than 2.0

In [27]:
#Dos = grades.index(2.0) + 1
#print(grades[dos:])
print(grades[5:])

[2.25, 2.5, 3.0]

#### Exercise 5

Using Index Slicing, print out the list of grades better than 2.0.

In [30]:
#Dos = grades.index(2.0)
#print(grades[:Dos])
print(grades[:4])

[1.0, 1.25, 1.5, 1.75]

#### Exercise 6

Using Index Slicing, print out the grades 2.0,2.25,2.5.

In [33]:
#limit = grades.index(2.5) + 1
#print(grades[Dos:limit])
print(grades[4:7])

[2.0, 2.25, 2.5]

## CHALLENGE

Modify the code in the subheading [Parsing Lines](#ParsingLines) to display all the time stamps
of the emails in mboxt-short.txt

In [83]:
fhand = open('mboxt-short.txt')
my_list = []
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From'):
        continue
    words = line.split()
    if len(words) > 2:
        if my_list == []:
            my_list.append(words[5])
        elif words[5] not in my_list:
             my_list.append(words[5])
print(my_list)

['09:14:16', '18:10:48', '16:10:39', '15:46:24', '15:03:18', '14:50:18', '11:37:30', '11:35:08', '11:12:37', '11:11:52', '11:11:03', '11:10:22', '10:38:42', '10:17:43', '10:04:14', '09:05:31', '07:02:32', '06:08:27', '04:49:08', '04:33:44', '04:07:34', '19:51:21', '17:18:23', '17:07:00', '16:34:40', '16:29:07', '16:23:48']


[TABLE OF CONTENTS](#contents)

<a id='chapter9'></a>

# CHAPTER  9 - Dictionaries

#### Important Note
    It is hghly suggested to study [Chapter 10 Tuples](#chapter10) before this chapter.

- You can think of a **dictionary** as a mapping between a set of indices (which are called **keys**) and a set of **values**.
- Each key maps to a value.
- The association of a key and a value is called a **key-value pair** or sometimes an **item**.

`[PEW]`

An understanding of how dictionaries work is important ...
  - to understand more complex data structures that require indexing
  - to use functions in libraries that require dictionaries to be passed as arguments

## Creating Dictionaries

You can create an empty dictionary by assigning a variable to `{}`, or to the function `dict()`.

In [17]:
eng2sp = {}
print(eng2sp)

{}

The curly brackets, `{}`, represent an empty dictionary. To add items to the dictionary, you can use square brackets:  -`[PEW]`

In [18]:
eng2sp['one'] = 'uno'

This line creates an item that maps from the key `one` to the value `uno`. If we print the dictionary again, we see a key-value pair with a **colon** (`:`) between the key and value:

In [19]:
print(eng2sp)

{'one': 'uno'}

In [20]:
#add 2 more items
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'

In [21]:
print(eng2sp)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [22]:
print(eng2sp['two'])

dos

In general, the order of items in a dictionary is **unpredictable**. But that's not a problem because the elements of a dictionary are never indexed with integer indices. Instead, you **use the keys to look up the corresponding values**:

### Another Example

In [23]:
character = dict()
character['name'] = 'Aragorn'
character['aliases'] = ('Strider','Lord of Dunedain', 'Estel')
character['age'] = 210
#あ

In [25]:
print(character)

{'name': 'Aragorn', 'aliases': ('Strider', 'Lord of Dunedain', 'Estel'), 'age': 210}

In [26]:
character['name']

'Aragorn'

In [27]:
character['aliases'][1]

'Lord of Dunedain'

In [24]:
character['age'] + 1

211

## Dictionary Literals (Constants)

Dictionary literals use curly braces (`{}`) and have a list of `key` : `value` pairs

In [29]:
course_dict = {2111 : 'Computing for Analytics I' ,
                2112 : 'Business Strategy and Analytics',
                2121 :'Computing for Analytics II'}
course_dict[2111]

#あ

'Computing for Analytics I'

## Comparing Lists and Dictionaries

Dictionaries are like lists except that they use **keys** instead of numbers (the **indices**) to look up values.

Both lists and dictionaries are mutable.

#### Lists:

In [30]:
int_list = list()
int_list.append(21)
int_list.append(183)
print(int_list)
int_list[0] = 23
print(int_list)

[21, 183]
[23, 183]

#### Dictionaries:

In [31]:
info = dict()
info['trisem'] = 1
info['course'] = 2111
print(info)
info['course'] = 2121
print(info)

#あ

{'trisem': 1, 'course': 2111}
{'trisem': 1, 'course': 2121}

## Definite Loops and Dictionaries

Even though dictionaries are not stored in order, we can write a for loop that goes through all the entries in a dictionary - actually it goes through all of the keys in the dictionary and looks up the values

In [32]:
course_dict = {2111 : 'Computing for Analytics I' ,
                2112 : 'Business Strategy and Analytics',
                2121 :'Computing for Analytics II'}
for key in course_dict:
    print(key,':',course_dict[key])

#あ

2111 : Computing for Analytics I
2112 : Business Strategy and Analytics
2121 : Computing for Analytics II

## Iterating  over Keys, Values, Items, and Key-Value pairs

In [33]:
course_dict

{2111: 'Computing for Analytics I',
 2112: 'Business Strategy and Analytics',
 2121: 'Computing for Analytics II'}

#### Iterate over `Keys`

In [34]:
for key in course_dict:
    print(key)

2111
2112
2121

#### Iterate over `Values`

In [35]:
for key in course_dict:
    print(course_dict[key])

Computing for Analytics I
Business Strategy and Analytics
Computing for Analytics II

#### Iterate over `Items`

Iterating over items produces tuples

In [36]:
for item in course_dict.items():
    print(item)

(2111, 'Computing for Analytics I')
(2112, 'Business Strategy and Analytics')
(2121, 'Computing for Analytics II')

#### Iterating over `key-value pairs`

In [39]:
for k, v in course_dict.items():
    print(k,'k', v)

2111 k Computing for Analytics I
2112 k Business Strategy and Analytics
2121 k Computing for Analytics II

In [38]:
for code, name in course_dict.items():
    print(code,':', name)

2111 : Computing for Analytics I
2112 : Business Strategy and Analytics
2121 : Computing for Analytics II

## Retrieving Lists of Keys and Values

Code adapted from [PES]

You can get a list of keys, values, or items (both) from a dictionary

#### Retrieving a list of keys

In [40]:
course_dict

{2111: 'Computing for Analytics I',
 2112: 'Business Strategy and Analytics',
 2121: 'Computing for Analytics II'}

In [41]:
course_dict.keys()

dict_keys([2111, 2112, 2121])

It would be more useful if we convert the above result to a list:

In [42]:
key_list = list(course_dict.keys())
key_list

[2111, 2112, 2121]

#### Retrieving a list of values

In [43]:
value_list = list(course_dict.values())
value_list

['Computing for Analytics I',
 'Business Strategy and Analytics',
 'Computing for Analytics II']

#### Retrieve list of items (as tuples)

In [44]:
item_list = list(course_dict.items())
item_list

[(2111, 'Computing for Analytics I'),
 (2112, 'Business Strategy and Analytics'),
 (2121, 'Computing for Analytics II')]

## Final Words

- Dictionaries are useful for non-homogenous collections, which do not require order, but items could be retrieved through a key
- An understanding of how dictionaries work is important to...
  - understand more complex data structures requiring indexing
  - use functions in libraries that require dictionaries to be passed as arguments

## EXERCISES

#### Exercise 1

Create a dictionary with the following keys and values showing a partial list of Real GDP growth in Annual percent change from IMF (Source: http://www.imf.org/external/datamapper/NGDP_RPCH@WEO/OEMDC/ADVEC/WEOWORLD)

    China 6.5
    Japan 0.7
    Philippines 6.7
    United States 2.3

In [48]:
GDP_growth = {}
GDP_growth['China'] = 6.5
GDP_growth['Japan'] = 0.7
GDP_growth['Philippines'] = 6.7
GDP_growth['United States'] = 2.3

{'China': 6.5, 'Japan': 0.7, 'Philippines': 6.7, 'United States': 2.3}

#### Exercise 2

Display all the keys and values from the dictionary you created above

In [55]:
#print(GDP_growth)
for key in GDP_growth:
    print(key, GDP_growth[key])

China 6.5
Japan 0.7
Philippines 6.7
United States 2.3

#### Exercise 3

Write a program that asks the user to enter a line of text and then counts the number of each word that appeared in the line of text.
Use the string function `split()` to make a list of words from a given string
e.g.:

```python
word_list = line.split()
```

will return a list of words from the string `line` and store it in the variable `word_list`.


(Adapted from [PES])

In [73]:
line = input("Enter a line of text: ")
word_list = line.split()
count_word = {}
for word in word_list :
    if word in count_word:
        count_word[word] += 1
    else:
        count_word[word] = 1
for key in count_word :
    print(key, "=" , count_word[key])

Enter a line of text: Write a program that asks the user to enter a line of text and then counts the number of each word that appeared in the line of text.
Write = 1
a = 2
program = 1
that = 2
asks = 1
the = 3
user = 1
to = 1
enter = 1
line = 2
of = 3
text = 1
and = 1
then = 1
counts = 1
number = 1
each = 1
word = 1
appeared = 1
in = 1
text. = 1

[TABLE OF CONTENTS](#contents)

<a id='chapter10'></a>

# CHAPTER 10 - Tuples

## Tuples are Like Lists

Tuples are another kind of sequence that functions much like a list - they have elements which are indexed starting at 0

- Tuples are created using **parenthesis** `()`
- The elements in the list are separated by commas
- An element in a tuple can be any Python object - another tuple, a list, etc.
<br>

In [74]:
x = ('Glenn', 'Sally', 'Joseph')
print(x)

('Glenn', 'Sally', 'Joseph')

In [75]:
y = ( 1, 9, 2 )
print(y)
print(max(y))

(1, 9, 2)
9

In [76]:
for index in y:
    print(index)

1
9
2

In [78]:
empty_tuple = ()
int_tuple = (3, 7, 9, 1)
string_tuple = ('elven-kings', 'dwarf-lords', 'mortal men', 'Dark Lord')
mixed_tuple = (1, 'ring', 2.0, 'rule them all')
tuple_with_a_tuple = (3, (7, 9), 1)
tuple_with_a_tuple_and_a_list = (3, int_tuple, 1.0, mixed_tuple)

print(empty_tuple)
print(int_tuple)
print(string_tuple)
print(mixed_tuple)
print(tuple_with_a_tuple)
print(tuple_with_a_tuple_and_a_list)

#あ

()
(3, 7, 9, 1)
('elven-kings', 'dwarf-lords', 'mortal men', 'Dark Lord')
(1, 'ring', 2.0, 'rule them all')
(3, (7, 9), 1)
(3, (3, 7, 9, 1), 1.0, (1, 'ring', 2.0, 'rule them all'))

#### Accessing Elements in a Tuple

Elements in a tuple can be accessed using the square bracket operator `[]`.  Slicing is also possible in tuples.

In [79]:
print(int_tuple)
#あ

(3, 7, 9, 1)

In [80]:
print(int_tuple[0])
print(int_tuple[-1])
#あ

3
1

In [81]:
print(int_tuple[1:])
print(int_tuple[:-1])
#あ

(7, 9, 1)
(3, 7, 9)

In [82]:
print(int_tuple[1:-1])
#あ

(7, 9)

#### Getting the number of elements in  a Tuple with `len()`

Like in lists, the number of elements in a tuple could be obtained using the `len()` function. [あ ]

In [83]:
z = (2, 4, 6, 0, 1)
print(len(z))

5

### Quick Symbol Check

Recall the use of the following symbols:
- Parenthesis — `()` — are used for defining tuples
- Square Brackets — `[]` — are used for defining lists
- Curly Braces — `{}` — are used for defining dictionaries*
- Square Brackets are also used...
    - as **index** for accessing specific elements in lists, tuples, and strings
    - for **slicing** lists, tuples, and strings
    - as **key index** for getting the value in a dictionary*

*on dictionaries: Please see [Chapter 9](#chapter9)

## Tuples are immutable

You will recall that lists are mutable, that is, you could change the elements in a list:

In [100]:
x = [9, 8, 7]
x[2] = 6
print(x)

[9, 8, 6]

You will also recall that strings, unlike lists, are immutable:

In [84]:
y = 'ABC'
y[2] = 'D'
#あ

TypeError: 'str' object does not support item assignment

Now, tuples are, like strings — and unlike lists — immutable.

Unlike a list, once you create a tuple, you cannot alter its contents - similar to a string

In [85]:
z = (5, 4, 3)
z[2] = 0

TypeError: 'tuple' object does not support item assignment

##  Things NOT to do With Tuples

Tuples do **not** have the following methods.

- sort
- append
- reverse

Let's define a tuple.

In [86]:
my_tuple = (3, 2, 1)

The following method calls will produce an error.

In [87]:
my_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [88]:
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [89]:
my_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

## Methods for Tuples

We can generate a list of non special Python methods for tuples using list comprehension.

In [90]:
[x for x in dir(my_tuple) if not x.startswith('__')]
#あ

['count', 'index']

#### count

We can count the number of occurances in a tuple using `count()`

In [91]:
lyrics = ('na', 'na', 'na', 'na', 'na', 'na', 'na', 'na', 'na', 'na', 'na', 'hey', 'Jude')
lyrics.count('na')
#あ

11

#### index

We can get the index of an element in a tuple using `index()`

In [92]:
idx = lyrics.index('Jude')
idx
#あ

12

In [93]:
lyrics[idx]
#あ

'Jude'

##  Why Use Tuples over Lists?

The advantage of tuples over lists are that they are more efficient.

- Since Python does not have to build tuple structures to be modifiable, they are simpler and more efficient in terms of memory use and performance than lists
- tuples are preferable over lists
    - When making variables that you don't have to change
    - When making “temporary variables”

## Tuples and Assignment

We can put a tuple on the left-hand side of an assignment statement

In [101]:
(x, y) = (4, 'fred')
print(y)

fred

In [102]:
(a, b) = (99, 98)
print(a)

99

We can even omit the parenthesis

In [103]:
(c, d) = 5, 'john'
(c,d)
#あ

(5, 'john')

c, d = (5, 'john')
(c,d)
#あ

The number of elements on both sides have to be the same

In [104]:
c, d, e = (5, 'john')
#あ

ValueError: not enough values to unpack (expected 3, got 2)

In [94]:
c, d = (5, 'john', 'paul')
#あ

ValueError: too many values to unpack (expected 2)

## Unpacking Tuples

Tuples could be unpacked to individual variables. The number of variables should match the number of items in the tuple.

In [105]:
contact_info = ('Bilbo', 'Baggins', 'bilbo@shire.me')
fname, lname, email = contact_info
print(fname, lname)
print(email)
#あ

Bilbo Baggins
bilbo@shire.me

## zip() function

The built-in `zip()` function could be used to generate tuples from data structures like lists or tuples.

In [99]:
int_list = [3, 7, 9, 1]
string_list = ['elven-kings', 'dwarf-lords', 'mortal men', 'Dark Lord']
zipped = zip(int_list, string_list)
zipped

The code above produced a **iterator** that can be used in a `for` loop:

In [100]:
for i in zipped:
    print(i[0], 'ring(s) for the', i[1])

3 ring(s) for the elven-kings
7 ring(s) for the dwarf-lords
9 ring(s) for the mortal men
1 ring(s) for the Dark Lord

or converted to a list:

In [101]:
zipped = zip(int_list, string_list)
ring_inventory = list(zipped)
ring_inventory

[(3, 'elven-kings'), (7, 'dwarf-lords'), (9, 'mortal men'), (1, 'Dark Lord')]

In [102]:
ring_inventory[2]

(9, 'mortal men')

In [103]:
for item in ring_inventory:
    print(item[0], 'ring(s) for the', item[1])

3 ring(s) for the elven-kings
7 ring(s) for the dwarf-lords
9 ring(s) for the mortal men
1 ring(s) for the Dark Lord

## Final Words

- Tuples are like lists, except that they are not mutable
- Use tuples for values that you don’t expect to change since they are more efficient
- Tuples are also important for using functions as some arguments are passed as tuples

## EXERCISES

#### Exercise 1

Create a tuple with the following items: `1, 1, 2, 3, 5`. Feed the tuple to the `sum()` built-in function and check the result.

In [104]:
items = (1, 1, 2, 3, 5)
t = sum(items)
print(t)

12

#### Exercise 2

Unpack the following tuple into meaningful variables and display them

```python
ph_info = ('Philippines', 'Manila', 103.3) # The last number is the Population in Millions as of 2016
```

In [115]:
ph_info = ('Philippines', 'Manila', 103.3)
country, capital, population = ph_info
print("What country is this:", country+"?")
print(capital+"? The capital of the", country+"?")
print(country, "population in Millions as of 2016 is", population)

What country is this: Philippines?
Manila? The capital of the Philippines?
Philippines population in Millions as of 2016 is 103.3

#### Important Note

It's suggested to study [Chapter 9 Dictionaries](#chapter9) after this chapter

[TABLE OF CONTENTS](#contents)

# END

Congratulations for reaching this far. There are still several chapters from Python for Everybody, but the ones covered here are the most important ones as we move forward.